* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /* Added for better responsive control */
}


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.lora-font-100 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.lora-font-200 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.lora-font-300 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


.lora-font-400 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lora-font-500 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.lora-font-600 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}


.lora-font-900 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}







/* Begining of stying for the body*/

/*Navigation section*/

img[src*="cropped-assembly-of-god-logo-png-7-1.png"] { /* styling for the logo image*/
    width: 60px;
    height: 100%;
    padding-right: 10px;

}

/*main styling for the navigation*/

.navigation-container {
    background-image: url(images/people-2596890_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #FFFCFB;
    position: relative; /* Needed for absolute positioning of nav on small screens */
}

.church-logo-and-nav-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 35px 0px 20px 40px;
}


.church-logo-side-text {
    text-align: center;
    border-left: 2px solid #FFFCFB;
    padding-left: 10px;
}

/*supplementary*/

.title {
    text-transform: uppercase;
}


.header-size {
    font-size: 1.3rem;
}


.paragraph-size {
    font-size: 1rem;
}

/* end of supplementary*/


h2 strong {
    color: #FFEB00;
}

p strong {
    color: #E82561;
}




.navigation-links {
    margin-left: auto;
    padding-right: 150px;
    text-transform: uppercase;

}


ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Hamburger Menu Styles */
.hamburger-menu {
    display: none; /* Hidden by default, will be shown by media query */
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    position: absolute;
    right: 30px; /* Position it on the right */
    top: 30px;
    z-index: 100; /* Ensure it's above other content */
}

.hamburger-menu span {
    width: 100%;
    height: 3px;
    background-color: #FFFCFB;
    border-radius: 5px;
    transition: all 0.3s ease;
}

/* Navigation Links when active (for mobile) */
.navigation-links.nav-active { /* Changed this selector from ul.nav-active */
    display: flex; /* Make the container visible */
    flex-direction: column;
    position: absolute;
    top: 0; /* Cover the whole screen */
    left: 0;
    width: 90%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1); /* Dark overlay */
    justify-content: center;
    align-items: center;
    z-index: 90;
    padding: 0; /* Reset padding for mobile menu */
    margin-left: 0; /* Reset margin for mobile menu */
    overflow: auto; /* Allow scrolling if content is too long */
}

.navigation-links.nav-active ul { /* Apply styling to the ul inside the active container */
    flex-direction: column; /* Ensure list items stack */
    width: 100%;
    gap: 0; /* Reset gap, individual li will have padding */
    align-items: center; /* Center list items */
}

.navigation-links.nav-active ul li {
    font-size: 1.8rem;
    padding: 15px 0; /* Increased padding for better touch targets */
    width: 80%; /* Make list items take more width */
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 5px; /* Add some space between items */
}

.navigation-links.nav-active ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}


/*end of navigation onward hero section*/


/*hero image with text section*/

.welcome-to-church {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 210px 120px 20px 0px;
    flex-direction: column;
    text-align: left;
    line-height: 1.5;
}


strong .jesus {
    color: #FFDBDB;
}




.title.seek-god {
    font-size: 4rem;
    color: #FFDAB3;
}

.welcome-to-church p {
    font-size: 1.4rem;
    color: #FFFCFB;
}

.welcome-to-church-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 20px 250px 10px 10px;
}

.plan-a-visit,
.reconnect {
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: #27548A;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    line-height: 1.3;
    font-size: 1rem;
    cursor: pointer; /* Added for better UX */
}

.plan-a-visit:hover,
.reconnect:hover {
    background-color: #FFFCFB;
    color: #000000;
}

/*****************************************************************

End of navigation and hero section, upcoming join us on sunday section

******************************************************************/


.getconnected {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 80px;
    padding: 90px;
    border: 2px solid black;
}


.join-us {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
     text-align: left;
    line-height: 1.8;
}


img[src*="1752247436444.jpg"] { /*two lovely girls with a smile*/
    width: 600px;
    height: 100%;
    border-radius: 250px 10px;

}


/*Supplementry for join us this sunday, for the title, check the navigaition and hero section*/

.join-us-heading {
    font-size: 3rem;
}

.getconnected p {
    font-size: 1.3rem;
}


.direction h2 {
    font-size: 2rem;
}


.direction p {
    font-size: 1.15rem;
}



/*supplementry ends****************************************************/


/*Join us this sunday end, service details section*/


.service-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 50px ;
    padding: 100px;
    line-height: 2.3;
    gap: 100px;
    background-color: #edf2f4;
}



.direction {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.direction button {
    padding: 10px 40px;
    border: 2px solid black;
    margin-top: 10px;
    cursor: pointer;
}


.service-time-and-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}


.time h2,
.time p,
.church-auditorium h2 {
    margin: 0;
    padding: 0;
    text-align: center; /* Ensures text is centered */
}

.time,
.church-auditorium {
    padding: 80px 90px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    gap: 10px;
    line-height: 1.2;
    min-width: 100px; /* ensures consistent width */
    box-shadow: 0px 10px 40px rgba(144, 99, 99, 0.3);

}

.time p,
.direction button {
    font-size: 1rem;
}

/*End of service detail, upcoming events begins - under footer section*/


.upcoming-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin: 50px 50px 50px 100px;
    gap: 20px;
    background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.upcoming-event button {
    padding: 10px 30px;
    border: none;
    background-color: #fb8500;
    font-size: 1rem;
    cursor: pointer;
}


.upcoming-event h1 {
    color: #edf2f4;
}

/*we hope to hear from you section*/
.end-of-the-web-development {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 190px;
    flex-direction: column;
    background-color: black;
}

.end-of-the-web-development h1 {
    color: #edf2f4;
}


.footer-links {
    display: flex;
    align-items: center;
    color: white;
    gap: 100px;
    margin-top: 100px;
}


img[src$=".svg"] {
    width: 50px;
    height: 100%;
}

img[src*="church-svgrepo-com (1).svg"] {
    width: 70px;
}


/* alright 😂*/

.copy-right {
    color: #edf2f4;
    margin-top: 200px;
    font-weight: 100;
}


/* ----------------------------------------------------------- */
/* RESPONSIVE DESIGN (MEDIA QUERIES)             */
/* ----------------------------------------------------------- */





/* Large devices (desktops, 1200px and up) */
@media (max-width: 1200px) {
    .church-logo-and-nav-links {
        padding: 50px 0px 20px 50px;
    }

    .navigation-links {
        padding-right: 100px;
    }

    .welcome-to-church {
        padding: 180px 80px 20px 0px;
    }

    .title.seek-god {
        font-size: 3.5rem;
    }

    .welcome-to-church p {
        font-size: 1.2rem;
    }

    .welcome-to-church-buttons {
        margin: 20px 150px 10px 10px;
    }

    .getconnected {
        margin: 40px;
        padding: 40px;
        gap: 40px;
    }


     .direction {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .direction p {
        text-align: justify;
    }


    img[src*="1752247436444.jpg"] {
        width: 600px;
        padding: 10px;
    }

    .service-details {
        padding: 80px;
        gap: 60px;
    }

    .time, .church-auditorium {
        padding: 30px 65px;
    }

    .footer-links {
        gap: 80px;
    }
}

@media (max-width: 1024px) {

    .church-logo-and-nav-links {
        padding: 50px 0px 15px 50px;
        justify-content: flex-start; /* Adjust for hamburger icon */
        display: flex;
    }

    .navigation-links {
        display: none; /* Hide regular navigation */
        padding-right: 0; /* Reset padding */
    }
    .hamburger-menu {
        display: flex; /* Show hamburger icon */
        margin-top: 30px;
    }
    .welcome-to-church {
        padding: 150px 50px 20px 50px;
        align-items: center; /* Center content */
        text-align: center; /* Center text */
    }
    .welcome-to-church-buttons {
        margin: 20px auto 10px auto; /* Center buttons */
        justify-content: center;
    }
    .title.seek-god {
        font-size: 3rem;
    }
    .welcome-to-church p {
        font-size: 1.1rem;
    }


    .getconnected {
        margin: 50px;
        padding: 50px;
        text-align: center;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .join-us {
        align-items: center;
        text-align: left;
    }
    img[src*="1752247436444.jpg"] {
        width: 100%; /* Take full width */
        max-width: 500px; /* Limit max size */
        border-radius: 10px; /* Simpler border radius */
    }
    .service-details {
        gap: 70px;
        display: flex;
        justify-self: start;
        flex-direction: column;
    }


    .direction {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .direction p {
        text-align: justify;
    }


    .service-time-and-details {
        display: flex;
        flex-direction: row; /* Stack vertically if needed, but horizontal is okay too */
    }

    .time, .church-auditorium {
        padding: 50px 60px;
    }

    .upcoming-event {
        margin: 30px;
        padding: 40px;
        text-align: left;
    }


    .upcoming-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin: 50px 20px 50px 20px;
    gap: 20px;
    background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
}


    .end-of-the-web-development {
        padding: 100px;
    }
    .footer-links {
        gap: 60px;
        margin-top: 60px;
    }
    .copy-right {
        margin-top: 100px;
    }
}



@media (max-width: 992px) {

    .church-logo-and-nav-links {
        padding: 50px 0px 15px 50px;
        justify-content: flex-start; /* Adjust for hamburger icon */
        display: flex;
    }

    .navigation-links {
        display: none; /* Hide regular navigation */
        padding-right: 0; /* Reset padding */
    }
    .hamburger-menu {
        display: flex; /* Show hamburger icon */
        margin-top: 30px;
    }
    .welcome-to-church {
        padding: 150px 50px 20px 50px;
        align-items: center; /* Center content */
        text-align: center; /* Center text */
    }
    .welcome-to-church-buttons {
        margin: 20px auto 10px auto; /* Center buttons */
        justify-content: center;
    }
    .title.seek-god {
        font-size: 3rem;
    }
    .welcome-to-church p {
        font-size: 1.1rem;
    }


    .getconnected {
        margin: 50px;
        padding: 50px;
        text-align: center;
        flex-direction: column-reverse;
        gap: 30px;
    }
    .join-us {
        align-items: center;
        text-align: left;
    }
    img[src*="1752247436444.jpg"] {
        width: 100%; /* Take full width */
        max-width: 500px; /* Limit max size */
        border-radius: 10px; /* Simpler border radius */
    }
    .service-details {
        gap: 70px;
        display: flex;
        justify-self: start;
        flex-direction: column;
    }


    .direction {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .direction p {
        text-align: justify;
    }


    .service-time-and-details {
        display: flex;
        flex-direction: row; /* Stack vertically if needed, but horizontal is okay too */
    }

    .time, .church-auditorium {
        padding: 50px 60px;
    }

    .upcoming-event {
        margin: 30px;
        padding: 40px;
        text-align: left;
    }


    .upcoming-event {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    margin: 50px 20px 50px 20px;
    gap: 20px;
    background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: unset;
}






    .end-of-the-web-development {
        padding: 100px;
    }
    .footer-links {
        gap: 60px;
        margin-top: 60px;
    }
    .copy-right {
        margin-top: 100px;
    }
}

/* Small devices (landscape phones, 768px and up) */
@media (max-width: 768px) {
    
     .church-logo-and-nav-links {
        padding: 50px 0px 10px 60px;
        flex-wrap: wrap; /* Allow logo and text to wrap */
        justify-content: flex-start;
    }

    .hamburger-menu {
        margin: 40px 30px 0px 0px;
    }


    img[src*="cropped-assembly-of-god-logo-png-7-1.png"] {
        width: 50px;
        padding-right: 5px;
    }
    .church-logo-side-text {
        padding-left: 10px;
        border-left: 2px solid white;
    }
    .header-size {
        font-size: 1rem;
    }
    .paragraph-size {
        font-size: 0.8rem;
    }
    .hamburger-menu {
        right: 15px;
        top: 15px;
    }
    .navigation-links.nav-active ul li { /* Adjusted selector */
        font-size: 1.2rem;
        width: 90%;
    }
    .welcome-to-church {
        padding: 150px 120px 20px 120px;
    }
    .title.seek-god {
        font-size: 2.3rem;
    }
    .welcome-to-church p {
        font-size: 1.2rem;
        margin-top: 9px;
    }

   .welcome-to-church-buttons {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 0px 50px 50px 50px; 
        text-align: center;

     }

    .plan-a-visit  {
        padding: 10px 15px;
        font-size: 0.9rem;
    }

     .reconnect {
        padding: 8px 15px;
        font-size: 1rem;
    }

    img[src*="1752247436444.jpg"] { /*two lovely girls with a smile*/
    width: 100vw;
    height: 100%;
    border-radius: 40px;

}

    .getconnected {
        margin: 15px;
        padding: 40px;
        display: flex;
        flex-direction: column-reverse;
        border: 2px solid #000000;
    }

    
    .join-us-heading {
        font-size: 1.8rem;
    }

    .getconnected p {
        font-size: 1rem;
        text-align: justify;
        padding: 0px 25px 0px 25px;
    }

    .service-details {
        padding: 15px;
    }

     .direction  {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px 50px 0px 50px;
    }

    .service-time-and-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 50px 20px 50px
    }

    .direction h2 {
        font-size: 1.5rem;
    }

    .direction p {
        font-size: 0.9rem;
          text-align: justify;
    }
    .direction button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }
    .time, .church-auditorium {
        width: 90%;
        padding: 30px;
    }
    .time h2, .church-auditorium h2 {
        font-size: 1.2rem;
    }
    .time p {
        font-size: 0.8rem;
    }
    .upcoming-event {
        margin: 15px;
        padding: 20px;
        text-align: left;
    }
    .upcoming-event h1 {
        font-size: 1.4rem;
    }
    .upcoming-event button {
        font-size: 0.8rem;
    }

     .upcoming-event p {
        font-size: 0.8rem;
    }

    
    .upcoming-event {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 40px 10px 40px 10px;
        gap: 20px;
        background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: unset;
    }

    .end-of-the-web-development {
        padding: 100px;
    }
    .end-of-the-web-development h1 {
        font-size: 1.2rem;
    }
    .footer-links {
        gap: 25px;
        margin-top: 90px;
    }
    img[src$=".svg"] {
        width: 40px;
    }
    .copy-right {
        margin-top: 100px;
        font-size: 0.7rem;
    }

}

/* Extra small devices (phones, 576px and up) */
@media (max-width: 576px) {

     .church-logo-and-nav-links {
        padding: 50px 0px 10px 60px;
        flex-wrap: wrap; /* Allow logo and text to wrap */
        justify-content: flex-start;
    }

    .hamburger-menu {
        margin: 40px 30px 0px 0px;
    }


    img[src*="cropped-assembly-of-god-logo-png-7-1.png"] {
        width: 50px;
        padding-right: 5px;
    }
    .church-logo-side-text {
        padding-left: 10px;
        border-left: 2px solid white;
    }
    .header-size {
        font-size: 1rem;
    }
    .paragraph-size {
        font-size: 0.8rem;
    }
    .hamburger-menu {
        right: 15px;
        top: 15px;
    }
    .navigation-links.nav-active ul li { /* Adjusted selector */
        font-size: 1.2rem;
        width: 90%;
    }
    .welcome-to-church {
        padding: 150px 70px 20px 70px;
    }
    .title.seek-god {
        font-size: 2.3rem;
    }
    .welcome-to-church p {
        font-size: 1.2rem;
        margin-top: 9px;
    }

   .welcome-to-church-buttons {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        padding: 0px 50px 50px 50px; 
        text-align: center;

     }

    .plan-a-visit  {
        padding: 10px 15px;
        font-size: 0.9rem;
    }

     .reconnect {
        padding: 8px 15px;
        font-size: 1rem;
    }

    img[src*="1752247436444.jpg"] { /*two lovely girls with a smile*/
    width: 100vw;
    height: 100%;
    border-radius: 40px;

}

    .getconnected {
        margin: 15px;
        padding: 30px;
        display: flex;
        flex-direction: column-reverse;
        border: none;
        border: 2px solid #000000;
    }

    
    .join-us-heading {
        font-size: 1.8rem;
    }

    .getconnected p {
        font-size: 1rem;
        text-align: justify;
        padding: 0px 25px 0px 25px;
    }

    .service-details {
        padding: 15px;
    }

     .direction  {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 30px 50px 0px 50px;
    }

    .service-time-and-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 50px 20px 50px
    }

    .direction h2 {
        font-size: 1.5rem;
    }

    .direction p {
        font-size: 0.9rem;
          text-align: justify;
    }
    .direction button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }
    .time, .church-auditorium {
        width: 90%;
        padding: 30px;
    }
    .time h2, .church-auditorium h2 {
        font-size: 1.2rem;
    }
    .time p {
        font-size: 0.8rem;
    }
    .upcoming-event {
        margin: 15px;
        padding: 20px;
        text-align: left;
    }
    .upcoming-event h1 {
        font-size: 1.4rem;
    }
    .upcoming-event button {
        font-size: 0.8rem;
    }

     .upcoming-event p {
        font-size: 0.8rem;
    }

    
    .upcoming-event {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 40px 10px 40px 10px;
        gap: 20px;
        background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: unset;
    }

    .end-of-the-web-development {
        padding: 100px;
    }
    .end-of-the-web-development h1 {
        font-size: 1.2rem;
    }
    .footer-links {
        gap: 25px;
        margin-top: 90px;
    }
    img[src$=".svg"] {
        width: 40px;
    }
    .copy-right {
        margin-top: 100px;
        font-size: 0.7rem;
    }

}


@media (max-width: 440px) {

     .church-logo-and-nav-links {
        padding: 40px 0px 10px 30px;
        flex-wrap: wrap; /* Allow logo and text to wrap */
        justify-content: flex-start;
    }

    .hamburger-menu {
        margin: 30px 10px 0px 0px;
    }

   

    img[src*="cropped-assembly-of-god-logo-png-7-1.png"] {
        width: 45px;
        padding-right: 5px;
    }
    .church-logo-side-text {
        padding-left: 10px;
        border-left: 2px solid white;
    }
    .header-size {
        font-size: 1rem;
    }
    .paragraph-size {
        font-size: 0.8rem;
    }
 
    .navigation-links.nav-active ul li { /* Adjusted selector */
        font-size: 1.2rem;
        width: 90%;
    }
    .welcome-to-church {
        padding: 100px 50px 20px 50px;
    }
    .title.seek-god {
        font-size: 2.3rem;
    }
    .welcome-to-church p {
        font-size: 1.2rem;
        margin: 9px 20px 20px 0px;
        padding: 0px 10px 0px 10px ;
    }

   .welcome-to-church-buttons {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 2px;
        padding: 0px 50px 40px 50px; 
        text-align: center;
     }

    .plan-a-visit  {
        padding: 9px 20px;
        font-size: 0.75rem;
    }

     .reconnect {
        padding: 8px 12px;
        font-size: 0.75rem;
    }

    img[src*="1752247436444.jpg"] { /*two lovely girls with a smile*/
    width: 100vw;
    height: 100%;
    border-radius: 40px;
    padding: 20px;

}

    .getconnected {
        margin: 0px;
        padding: 15px;
        display: flex;
        flex-direction: column-reverse;
        border: none;
    }

    
    .join-us-heading {
        font-size: 1.6rem;
        text-align: left;
    }


    .getconnected p {
        font-size: 0.9rem;
        text-align: justify;
        padding: 0px 25px 0px 25px;
    }

    .service-details {
        padding: 50px 15px 15px 15px;
    }

     .direction  {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px 25px 0px 25px;
    }

    .service-time-and-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 50px 20px 50px
    }

    .direction h2 {
        font-size: 1.3rem;
    }

    .direction h3 {
        font-size: 1rem;
    }

    .direction p {
        font-size: 0.9rem;
          text-align: left;
    }
    .direction button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }


    .time, .church-auditorium {
        width: 90%;
        padding: 50px;
    }
    .time h2, .church-auditorium h2 {
        font-size: 1.1rem;
    }
    .time p {
        font-size: 0.8rem;
    }
    .upcoming-event {
        margin: 15px;
        padding: 20px;
        text-align: left;
    }
    .upcoming-event h1 {
        font-size: 1.4rem;
    }
    .upcoming-event button {
        font-size: 0.8rem;
    }

     .upcoming-event p {
        font-size: 0.8rem;
    }

    
    .upcoming-event {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 40px 10px 40px 10px;
        gap: 20px;
        background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: unset;
    }

    .end-of-the-web-development {
        padding: 90px 40px 40px 40px;
    }
    .end-of-the-web-development h1 {
        font-size: 1.2rem;
        text-align: center;
    }
    .footer-links {
        gap: 25px;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
    }
    img[src$=".svg"] {
        width: 40px;
    }
    .copy-right {
        margin-top: 100px;
        font-size: 0.7rem;
        text-align: center;
    }

}

@media (max-width: 400px) {

     .church-logo-and-nav-links {
        padding: 40px 0px 10px 20px;
        flex-wrap: wrap; /* Allow logo and text to wrap */
        justify-content: flex-start;
    }

    .hamburger-menu {
        margin: 30px 5px 0px 0px;
    }

   

    img[src*="cropped-assembly-of-god-logo-png-7-1.png"] {
        width: 45px;
        padding-right: 5px;
    }
    .church-logo-side-text {
        padding-left: 10px;
        border-left: 2px solid white;
    }
    .header-size {
        font-size: 1rem;
    }
    .paragraph-size {
        font-size: 0.8rem;
    }
 
    .navigation-links.nav-active ul li { /* Adjusted selector */
        font-size: 1.2rem;
        width: 90%;
    }
    .welcome-to-church {
        padding: 100px 50px 20px 50px;
    }
    .title.seek-god {
        font-size: 2.3rem;
    }
    .welcome-to-church p {
        font-size: 1.2rem;
        margin: 9px 20px 20px 0px;
        padding: 0px 10px 0px 10px ;
    }

   .welcome-to-church-buttons {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 2px;
        padding: 0px 50px 40px 50px; 
        text-align: center;
     }

    .plan-a-visit  {
        padding: 9px 20px;
        font-size: 0.75rem;
    }

     .reconnect {
        padding: 8px 12px;
        font-size: 0.75rem;
    }

    img[src*="1752247436444.jpg"] { /*two lovely girls with a smile*/
    width: 100vw;
    height: 100%;
    border-radius: 40px;
    padding: 20px;

}

    .getconnected {
        margin: 0px;
        padding: 15px;
        display: flex;
        flex-direction: column-reverse;
        border: none;
    }

    
    .join-us-heading {
        font-size: 1.6rem;
        text-align: left;
    }


    .getconnected p {
        font-size: 0.9rem;
        text-align: justify;
        padding: 0px 25px 0px 25px;
    }

    .service-details {
        padding: 50px 15px 15px 15px;
    }

     .direction  {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px 25px 0px 25px;
    }

    .service-time-and-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 50px 20px 50px
    }

    .direction h2 {
        font-size: 1.3rem;
    }

    .direction h3 {
        font-size: 1rem;
    }

    .direction p {
        font-size: 0.9rem;
          text-align: left;
    }
    .direction button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }


    .time, .church-auditorium {
        width: 90%;
        padding: 50px;
    }
    .time h2, .church-auditorium h2 {
        font-size: 1.1rem;
    }
    .time p {
        font-size: 0.8rem;
    }
    .upcoming-event {
        margin: 15px;
        padding: 20px;
        text-align: left;
    }
    .upcoming-event h1 {
        font-size: 1.4rem;
    }
    .upcoming-event button {
        font-size: 0.8rem;
    }

     .upcoming-event p {
        font-size: 0.8rem;
    }

    
    .upcoming-event {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 40px 10px 40px 10px;
        gap: 20px;
        background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: unset;
    }

    .end-of-the-web-development {
        padding: 90px 40px 40px 40px;
    }
    .end-of-the-web-development h1 {
        font-size: 1.2rem;
        text-align: center;
    }
    .footer-links {
        gap: 25px;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
    }
    img[src$=".svg"] {
        width: 40px;
    }
    .copy-right {
        margin-top: 100px;
        font-size: 0.7rem;
        text-align: center;
    }

}








@media (max-width: 375px) {

     .church-logo-and-nav-links {
        padding: 40px 0px 10px 20px;
        flex-wrap: wrap; /* Allow logo and text to wrap */
        justify-content: flex-start;
    }

    .hamburger-menu {
        margin: 30px 5px 0px 0px;
        font-size: 0.1rem;
    }

   

    img[src*="cropped-assembly-of-god-logo-png-7-1.png"] {
        width: 40px;
        padding-right: 5px;
    }
    .church-logo-side-text {
        padding-left: 10px;
        border-left: 2px solid white;
    }
    .header-size {
        font-size: 0.7rem;
    }
    .paragraph-size {
        font-size: 0.6rem;
    }
 
    .navigation-links.nav-active ul li { /* Adjusted selector */
        font-size: 1.2rem;
        width: 90%;
    }
    .welcome-to-church {
        padding: 150px 10px 20px 10px;
    }
    .title.seek-god {
        font-size: 1.5rem;
    }
    .welcome-to-church p {
        font-size: 1.1rem;
        margin: 19px 10px 10px 10px;
        padding: 0px 10px 0px 10px ;
    }

   .welcome-to-church-buttons {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        padding: 0px 50px 40px 50px; 
        text-align: center;
     }

    .plan-a-visit  {
        padding: 9px 20px;
        font-size: 0.6rem;
    }

     .reconnect {
        padding: 8px 12px;
        font-size: 0.65rem;
    }

    img[src*="1752247436444.jpg"] { /*two lovely girls with a smile*/
    width: 100vw;
    height: 100%;
    border-radius: 0px;
    padding: 0px;
    margin-top: 20px;

}

    .getconnected {
        margin: 15px;
        padding: 3px;
        display: flex;
        flex-direction: column-reverse;
        border: none;
    }

    
    .join-us-heading {
        font-size: 1.2rem;
        text-align: left;
    }


    .getconnected p {
        font-size: 1rem;
        text-align: justify;
        padding: 6px 20px 0px 20px;
    }

    .service-details {
        padding: 30px 10px 10px 10px;
    }

     .direction  {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px 20px 0px 20px;
    }

    .service-time-and-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 40px 10px 40px
    }

    .direction h2 {
        font-size: 1.3rem;
    }

    .direction h3 {
        font-size: 1rem;
    }

    .direction p {
        font-size: 0.9rem;
          text-align: left;
    }
    .direction button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }


    .time, .church-auditorium {
        width: 90%;
        padding: 50px;
    }
    .time h2, .church-auditorium h2 {
        font-size: 1.1rem;
    }
    .time p {
        font-size: 0.8rem;
    }
    .upcoming-event {
        margin: 15px;
        padding: 20px;
        text-align: left;
    }
    .upcoming-event h1 {
        font-size: 1.4rem;
    }
    .upcoming-event button {
        font-size: 0.8rem;
    }

     .upcoming-event p {
        font-size: 0.8rem;
    }

    
    .upcoming-event {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 40px 10px 40px 10px;
        gap: 20px;
        background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: unset;
    }

    .end-of-the-web-development {
        padding: 90px 40px 40px 40px;
    }
    .end-of-the-web-development h1 {
        font-size: 1.2rem;
        text-align: center;
    }
    .footer-links {
        gap: 25px;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
    }
    img[src$=".svg"] {
        width: 40px;
    }
    .copy-right {
        margin-top: 100px;
        font-size: 0.7rem;
        text-align: center;
    }

}

@media (max-width: 320px) {

     .church-logo-and-nav-links {
        padding: 40px 0px 10px 20px;
        flex-wrap: wrap; /* Allow logo and text to wrap */
        justify-content: flex-start;
    }

    .hamburger-menu {
        margin: 30px 5px 0px 0px;
        font-size: 0.1rem;
    }

   
    img[src*="cropped-assembly-of-god-logo-png-7-1.png"] {
        width: 40px;
        padding-right: 5px;
    }
    .church-logo-side-text {
        padding-left: 10px;
        border-left: 2px solid white;
    }

    .header-size {
        font-size: 0.7rem;
    }

    .paragraph-size {
        font-size: 0.6rem;
    }
 
    .navigation-links.nav-active ul li { /* Adjusted selector */
        font-size: 1.2rem;
        width: 90%;
    }
    .welcome-to-church {
        padding: 110px 10px 20px 10px;
    }

    .title.seek-god {
        font-size: 1.5rem;
    }

    .welcome-to-church p {
        font-size: 1.5rem;
        margin: 9px 10px 10px 10px;
        padding: 0px 10px 0px 10px ;
    }

   .welcome-to-church-buttons {
        display: flexbox;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        margin-top: 5px;
        padding: 0px 50px 40px 50px; 
        text-align: center;
     }

    .plan-a-visit  {
        padding: 9px 20px;
        font-size: 0.5rem;
    }

     .reconnect {
        padding: 8px 12px;
        font-size: 0.5rem;
    }

    img[src*="1752247436444.jpg"] { /*two lovely girls with a smile*/
    width: 100vw;
    height: 100%;
    border-radius: 0px;
    padding: 80px;

}

    .getconnected {
        margin: 0px;
        padding: 10px;
        display: flex;
        flex-direction: column-reverse;
        border: none;
    }

    
    .join-us-heading {
        font-size: 1.2rem;
    }


    .getconnected p {
        font-size: 0.9rem;
        text-align: left;
        padding: 0px 15px 0px 15px;
    }

    .service-details {
        padding: 30px 10px 10px 10px;
    }

     .direction  {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px 15px 0px 15px;
    }

    .service-time-and-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 40px 10px 40px
    }

    .direction h2 {
        font-size: 1.3rem;
    }

    .direction h3 {
        font-size: 1rem;
    }

    .direction p {
        font-size: 0.9rem;
          text-align: left;
    }
    .direction button {
        padding: 8px 20px;
        font-size: 0.9rem;
    }


    .time, .church-auditorium {
        width: 90%;
        padding: 50px;
    }
    .time h2, .church-auditorium h2 {
        font-size: 1.1rem;
    }
    .time p {
        font-size: 0.8rem;
    }
    .upcoming-event {
        margin: 15px;
        padding: 20px;
        text-align: left;
    }
    .upcoming-event h1 {
        font-size: 1.4rem;
    }
    .upcoming-event button {
        font-size: 0.8rem;
    }

     .upcoming-event p {
        font-size: 0.8rem;
    }

    
    .upcoming-event {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        margin: 40px 10px 40px 10px;
        gap: 20px;
        background-image: url(images/rod-long-DRgrzQQsJDA-unsplash.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: unset;
    }

    .end-of-the-web-development {
        padding: 90px 40px 40px 40px;
    }
    .end-of-the-web-development h1 {
        font-size: 1.2rem;
        text-align: center;
    }
    .footer-links {
        gap: 25px;
        margin-top: 90px;
        display: flex;
        flex-direction: column;
    }
    img[src$=".svg"] {
        width: 40px;
    }
    .copy-right {
        margin-top: 100px;
        font-size: 0.7rem;
        text-align: center;
    }

}
